{% extends "frames/frame_sidebar_base.html" %}

{% block sidebar_nav %}
          <ul class="nav flex-column mb-auto">
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center py-2 px-2 rounded {% if active_section == 'dashboard' %}active{% endif %}" 
                 href="{{ url('importexport:importexport_dashboard') }}">
                <i class="bi bi-house me-2 fs-6"></i>
                数据导入导出
              </a>
            </li>
          </ul>
          
          <ul class="nav flex-column mb-auto">
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center py-2 px-2 rounded {% if active_section == 'export' %}active{% endif %}" 
                 href="{{ url('importexport:export_list') }}">
                  <i class="bi bi-database-down me-2 fs-6"></i>
                  导出
              </a>
            </li>
          </ul>
          
          <ul class="nav flex-column mb-auto">
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center py-2 px-2 rounded {% if active_section == 'import' %}active{% endif %}" 
                 href="{{ url('importexport:import_list') }}">
                  <i class="bi bi-database-up me-2 fs-6"></i>
                  导入
              </a>
            </li>
          </ul>
{% endblock %}
